In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
%matplotlib inline

In [1]:
!wget -O teleCust1000t.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/teleCust1000t.csv

--2019-06-08 14:33:06--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/teleCust1000t.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.193
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.193|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 37048 (36K) [text/csv]
Saving to: ‘teleCust1000t.csv’

100%[======================================>] 37,048      --.-K/s   in 0.07s

2019-06-08 14:33:07 (484 KB/s) - ‘teleCust1000t.csv’ saved [37048/37048]

In [4]:
df = pd.read_csv('teleCust1000t.csv')
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [5]:
X = preprocessing.StandardScaler().fit(df.values).transform(df.values)

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, df['custcat'].values, test_size=0.2, random_state=4)

## Implementing K-Nearest Neighbour

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
from sklearn import metrics
for k in range(2,10):
    n = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
    yh = n.predict(x_test)
    m = metrics.accuracy_score(y_train, n.predict(x_train))
    x = metrics.accuracy_score(y_test, yh)    
    print ("The value of k is {} and the train and test accuracy is {}, {} respectively.".format(k, m, x))
    
print ("We can choose k = 5")

The value of k is 2 and the train and test accuracy is 0.84625, 0.68 respectively.
The value of k is 3 and the train and test accuracy is 0.85625, 0.725 respectively.
The value of k is 4 and the train and test accuracy is 0.82875, 0.735 respectively.
The value of k is 5 and the train and test accuracy is 0.8425, 0.73 respectively.
The value of k is 6 and the train and test accuracy is 0.8125, 0.755 respectively.
The value of k is 7 and the train and test accuracy is 0.82625, 0.775 respectively.
The value of k is 8 and the train and test accuracy is 0.82875, 0.77 respectively.
The value of k is 9 and the train and test accuracy is 0.825, 0.765 respectively.
We can choose k = 5

### Part 2 Logistic Regression

In [36]:
df = pd.read_csv("ChurnData.csv")
df.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0

In [37]:
df = df[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip',   'callcard', 'wireless','churn']]
df['churn'] = df['churn'].astype('int')
df.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,1
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,1
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,0

In [38]:
X = preprocessing.StandardScaler().fit(df.values).transform(df.values)
Y = df['churn'].values

In [39]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=4)

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(x_train,y_train)

In [41]:
yhat = LR.predict(x_test)
yhat

array([0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0])

In [42]:
yhat_prob = LR.predict_proba(x_test)
yhat_prob

array([[ 0.65136938,  0.34863062],
       [ 0.63472151,  0.36527849],
       [ 0.35967279,  0.64032721],
       [ 0.7093506 ,  0.2906494 ],
       [ 0.36226353,  0.63773647],
       [ 0.40753603,  0.59246397],
       [ 0.33785482,  0.66214518],
       [ 0.63426687,  0.36573313],
       [ 0.27108557,  0.72891443],
       [ 0.40510656,  0.59489344],
       [ 0.62243817,  0.37756183],
       [ 0.65272591,  0.34727409],
       [ 0.60451524,  0.39548476],
       [ 0.28008563,  0.71991437],
       [ 0.72607113,  0.27392887],
       [ 0.59839578,  0.40160422],
       [ 0.33624228,  0.66375772],
       [ 0.30890535,  0.69109465],
       [ 0.31706636,  0.68293364],
       [ 0.38916266,  0.61083734],
       [ 0.59265337,  0.40734663],
       [ 0.58456293,  0.41543707],
       [ 0.71009115,  0.28990885],
       [ 0.58412042,  0.41587958],
       [ 0.56777919,  0.43222081],
       [ 0.75575842,  0.24424158],
       [ 0.55055553,  0.44944447],
       [ 0.57958783,  0.42041217],
       [ 0.58183136,  0.41816864],
       [ 0.75966601,  0.24033399],
       [ 0.73963002,  0.26036998],
       [ 0.62649387,  0.37350613],
       [ 0.27490176,  0.72509824],
       [ 0.76095113,  0.23904887],
       [ 0.43925547,  0.56074453],
       [ 0.66434164,  0.33565836],
       [ 0.30942272,  0.69057728],
       [ 0.38697962,  0.61302038],
       [ 0.72557438,  0.27442562],
       [ 0.57007523,  0.42992477]])

In [50]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

0.83333263888946751

In [45]:
from sklearn.metrics import log_loss
log_loss(y_test, yhat_prob)

0.43518019669092978

In [63]:
from sklearn.metrics import f1_score
f1_score(y_test, yhat)

0.84104289318755254

### Part 3 Decision Tree

In [64]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [66]:
df = pd.read_csv("drug200.csv", delimiter=",")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [71]:
X = df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']].values

sex = preprocessing.LabelEncoder()
sex.fit(['F','M'])
X[:,1] = sex.transform(X[:,1]) 

BP = preprocessing.LabelEncoder()
BP.fit([ 'LOW', 'NORMAL', 'HIGH'])
X[:,2] = BP.transform(X[:,2])

Chol = preprocessing.LabelEncoder()
Chol.fit([ 'NORMAL', 'HIGH'])
X[:,3] = Chol.transform(X[:,3]) 

Y = df["Drug"]

In [72]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=4)

In [75]:
d_tree =  DecisionTreeClassifier(criterion="entropy", max_depth = 4)
d_tree.fit(x_train, y_train)
yh = d_tree.predict(x_test)
print("Accuracy Score: " + str(metrics.accuracy_score(y_test, yh)))

Accuracy Score: 0.966666666667

### Part 4 SVM

In [101]:
cell_df = pd.read_csv("cell_samples.csv")
cell_df = cell_df[pd.to_numeric(cell_df['BareNuc'], errors='coerce').notnull()]
cell_df['BareNuc'] = cell_df['BareNuc'].astype('int')
cell_df.dtypes
df = cell_df
df.head()

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [94]:
x_train, x_test, y_train, y_test = train_test_split( np.asarray(df[['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 
                                                         'SingEpiSize', 'BareNuc', 
                                                         'BlandChrom', 'NormNucl', 'Mit']]), 
                                                    np.asarray(df['Class'].astype(int)), test_size=0.2, random_state=4)

In [95]:
from sklearn import svm
ts = svm.SVC(kernel='rbf')
ts.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [97]:
yh = ts.predict(x_test)

In [99]:
from sklearn.metrics import f1_score
f1_score(y_test, yh, average='weighted')

0.96390389821046762

In [100]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yh)

0.96350364963503654